@import 'variables';

*{
    padding: 0;
    margin: 0;
}

.bgper{
    background-color: $color_prin;
}

.navbrand {
    color: $color_letraclara;
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
}

.navbrand:hover{
    color: $color_letraclara;
}

.navA {
    font-family: 'lato', sans-serif;
    font-weight: bold;
    color: $color_letraclara;
    margin-right: 15px;
    font-size: 1rem;
}

.navA:hover{
    background-color: $color_letraclara;
    color: $color_prin;
}


.portprin {
    margin: 1.5rem;
    height: 50vh;
    &__portada {
        height: 100%;
        background-image: url(../recursos/portada.jpg);
    }
    &__portadaCont{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 80%;
        height: 100%;    
    }
    &__portadaInfo{
        width: 100%;
        max-width: 500px;
        text-align: center;
        h2{
            color: $color_letraclara;
            font-family: 'Lato', sans-serif;
            font-size: 3.2rem;
            margin-bottom: 3.2rem;
        }
        a{
            text-decoration: none;
            font-family: 'Lato', sans-serif;
            font-size: 1.5rem;
            font-weight: bold;
            text-transform: uppercase;
            padding: 1rem 2.5rem;
            color: $color_letraclara;
            border-radius: 15px;
            border: 2px solid $color_letraclara ;   
        }
    }
}


@media (max-width: 812px) {
    .portprin {
        width: 100%;
        margin: 0;
        margin-top: 2rem;
        height: 50vh; 
    }
    .portprin__portada {
        height: 100%;
        background-image: url(../recursos/portada.jpg);
        background-size: cover;
        background-position: right; 
    }
    .portprin__portadaCont {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%; 
    } 
}
  
@media (min-width: 821px) and (max-width: 1280px) {
    .portprin__portada {
        height: 100%;
        background-image: url(../recursos/portada.jpg);
        background-size: cover;
        background-position: right;
    }
    .portprin__portadaCont {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%; 
    }
}
  
.ofertas {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
    &__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: 3px solid $color_prin;
        width: 80%;
        p {
            font-family: 'lato', sans-serif;
            font-size: 2.5rem;
            text-align: center;
        }
        a {
            font-family: 'lato', sans-serif;
            font-size: 1.5rem;
            text-decoration: none;
            text-transform:uppercase;
            background-color: $color_prin;
            border: 2px solid $color_prin;
            color: $color_letraclara;
            margin: 1.8rem;
            padding: 1.25rem;
            :hover{
                background-color: $color_letraclara;
                color: $color_prin;
                transition: 200ms;
            }
        }
    }
}

.ofertascard{
    margin: 2rem;
}

.col{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.btnbgcolor {
    background-color: $color_prin;
    color: $color_letraclara;
    font-family: 'lato', sans-serif;
    text-transform: uppercase;
    border: 2px solid $color_prin;
    &:hover {
        color: $color_prin;
        background-color: $color_letraclara;
    }
}

.newsletter {
    display: flex;
    justify-content: center;
    background-color: $color_prin;
    padding: 3.15rem;
    p{
        font-family: 'lato', sans-serif;
        font-size: 1.8rem;
        font-weight: bold;
        color: $color_letraclara;
        margin-right: 1.8rem;
        margin-top: 5px;
    }
    &__email {
        width: 400px;
        padding: 0.6rem;
        border: none;
    }
    &__submit{
        color: $color_prin;
        padding: 1rem;
        margin-left: 1.25rem;
        background-color: $color_letraclara;
        border: none;
    }
}

@media (max-width: 812px) {
    .newsletter {
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    .newsletter p {
        text-align: center;
        margin: 0; 
    }
    .neswletter__email {
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 8px; 
    }
    .newsletter__submit {
        color: $color_prin;
        padding: 10px;
        margin-left: 0;
        width: 100%; 
    } 
}

.productos{
    &__text{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
        margin-top: 5rem;
    }
    h2 {
        font-family: 'lato', sans-serif;
        font-size: 2.5rem;
        font-weight: bold;
    }
    &__container{
        display: flex;
        justify-content: center; 
    }
    &__card{
        display: flex;
        flex-direction: column;
        margin-left: 3.75rem;
        margin-right: 3.75rem;
        padding: 1.25rem;
        border: 2px dashed $color_prin;
    }
    h4{
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 1.75rem;
        text-align: center;
        padding-top: 2rem;
    }
    &__card__img{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
}

.productos__card__img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: $color_prin;
    margin-top: 6rem;
    height: fit-content;
}

@media (min-width: 320px) and (max-width: 820px) {
    .productos__text {
        flex-direction: column;
    }
    .productos__container {
        flex-direction: column;
        align-items: center; 
    }
    .productos__card {
        margin-bottom: 2rem;
        padding: 1.25rem;
        border: 2px dashed $color_prin;
        width: 80vw; 
    }
    .productos__card__img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
    h4 {
        padding-top: 1rem; 
    } 
}
  
@media (min-width: 821px) and (max-width: 1280px) {
    .productos__card {
      margin-bottom: 1rem;
      padding: 1rem;
      border: 2px dashed #8b001a; 
    }
    .productos__card__img {
      width: 20vw;
      height: 30vh;
      object-fit: cover; 
    } 
}

.footer__container{
    display: flex;
    justify-content: space-around;
    width: 100%; 
}

.footer__containerinfo{
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
}
.footer__containerinfo span {
    font-family: 'lato', sans-serif;
    font-size: 1.25rem;
    color: #fff;
    padding: 1rem;
}

.footer__containercopy {
    display: flex;
    flex-direction: column;
    margin: 3rem;
}

.copyright {
    font-family: 'lato', sans-serif;
    font-size: 1rem;
    color: $color_letraclara;
    padding: 1rem;
}

.footer__containersocial {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}

.footer__containersocial span {
    font-family: 'lato', sans-serif;
    font-size: 1.25rem;
    color: $color_letraclara;
    padding: 1rem;
}

.footer__containersociallink img {
    width: 50px;
    height: 50px;
}

.contport {
    height: 300px;

    &__portada {
        height: 100%;
        background-image: url(../recursos/contactportada.jpg);
        background-size: cover;
        background-position: center; 
    }
    &__portadaCont{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    &__portadaInfo{
        width: 100%;
        max-width: 500px;
        text-align: center;
        h2 {
            color: $color_letraclara;
            font-family: 'Lato', sans-serif;
            font-size: 3rem;
            margin-bottom: 6rem;
            text-transform: uppercase;
            text-shadow: -1px 5px 7px rgba(0,0,0,0.48);
        }
    }
}

.mapa{
    margin: 3rem;
    display: flex;
    justify-content: center;
    iframe{
        width: 1200px;
        height: 500px;
    }
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'lato', sans-serif;
    &__content{
        border: 2px solid $color_prin;
        padding: 2rem;
    }
    &__contentInfo{
        display: flex;
        flex-direction: column;
        margin: 1.25;
        label {
            padding-bottom: 0.7rem;
        } 
    }
}

.formbtn {
    margin: 1.25rem;
    background-color: $color_prin;
    color: $color_letraclara;
    padding: 0.7rem;
    border: none;
}

@media (max-width: 765px) {
    .formulario {
        margin: 3rem; 
    }
    .formulario__contentInfo {
        justify-content: center;
        margin: 1.25; 
    }
    .formulario__contentInfo label {
        padding-bottom: 0.7rem; 
    }
    .formbtn {
        margin: 0;
        margin-top: 1rem;
        padding: 0.7rem; 
    } 
}

.fiamport {
    height: 300px;
    &__portada{
        height: 100%;
        background-image: url(../recursos/placeholder.jpg);
        background-size: cover;
    }
    &__portadaCont{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%; 
    }
    &__portadaInfo{
        width: 100%;
        max-width: 500px;
        text-align: center;
        h2 {
            color: #fff;
            font-family: 'Lato', sans-serif;
            font-size: 3rem;
            margin-bottom: 6rem;
            text-transform: uppercase;
            text-shadow: -1px 5px 7px rgba(0,0,0,0.48); 
        }
    }
}


.catalago{
    padding-left: 6rem;
    padding-right: 6rem;
    font-family: 'lato', sans-serif;

    &__cont{
        display: grid;
        grid-template-areas: "gruno grdos grtres"
                            "grcuatro grcinco grseis";
        justify-content: center;
        padding: 2rem;
        margin: 2rem; 
    }
    &__contproducto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 1rem;
        img {
            width: 400px;
            height: 400px;
            object-fit: cover; 
            &:hover{
                transform: translateY(-10px);
                box-shadow: 1px 1px 17px 9px rgba(0,0,0,0.19);
            }
        }
    }
}

.g1 {
    grid-area: gruno;
}

.g2 {
    grid-area: grdos;
}

.g3 {
    grid-area: grtres;
}

.g4 {
    grid-area: grcuatro;
}

.g5 {
    grid-area: grcinco;
}

.g6 {
    grid-area: grseis;
}

@media (min-width: 320px) and (max-width: 540px) {
    .catalago__cont {
        grid-template-areas:"gruno grdos"
                            "grtres grcuatro"
                            "grcinco grseis";
        margin: 0;
        padding: 0; 
    }
    .catalago__contproducto {
        margin: 0;
        margin-top: 1rem; 
    }
    .catalago__contproducto img {
        width: 40vw;
        height: 20vh; 
    }
    .catalago__contproducto span {
      padding: 1rem; 
    } 
}
  
@media (min-width: 541px) and (max-width: 820px) {
    .catalago__cont {
        grid-template-areas:"gr1 gr2"
                            "gr3 gr4"
                            "gr5 gr6";
        margin: 0;
        padding: 0; 
    }
    .catalago__contproducto img {
        width: 40vw;
        height: 30vh; 
    } 
}
  
@media (min-width: 821px) and (max-width: 1280px) {
    .catalago__contproducto img {
        width: 25vw;
        height: 30vh; 
    } 
}

.quesport {
    height: 300px;

    &__portada{
        height: 100%;
        background-image: url(../recursos/portadaprincipalqueso.jpg);
        background-size: cover;
        background-position: right;
    }
    &__portadaCont{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%; 
    }
    &__portadaInfo{
        width: 100%;
        max-width: 500px;
        text-align: center;
        h2 {
            color: $color_letraclara;
            font-family: 'Lato', sans-serif;
            font-size: 3rem;
            margin-bottom: 6rem;
            text-transform: uppercase;
            text-shadow: -1px 5px 7px rgba(0,0,0,0.48); 
        }
    }
}

.tablaport {
    height: 300px;

    &__portada {
        height: 100%;
        background-image: url(../recursos/tablaportada.jpg);
        background-size: cover;
        background-position:center;
    }
    &__portadaCont {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%; 
    }
    &__portadaInfo{
        width: 100%;
        max-width: 500px;
        text-align: center;
        h2 {
            color: $color_letraclara;
            font-family: 'Lato', sans-serif;
            font-size: 3rem;
            margin-bottom: 6rem;
            text-transform: uppercase;
            text-shadow: -1px 5px 7px rgba(0,0,0,0.48);  
        }
    }
}

.tiendaport {
    height: 300px;

    &__portada {
        height: 100%;
        background-image: url(../recursos/tiendaportada.jpg);
        background-size: cover;
        background-position:center; 
    }
    &__portadaCont {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    &__portadaInfo {
        width: 100%;
        max-width: 500px;
        text-align: center;
    }
    h2 {
        color: $color_letraclara;
        font-family: 'Lato', sans-serif;
        font-size: 3rem;
        margin-bottom: 6rem;
        text-transform: uppercase;
        text-shadow: -1px 5px 7px rgba(0,0,0,0.48);
    }
}

.sobrenos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'lato', sans-serif;
    margin: 6rem;
    h3 {
        font-size: 3rem;
    }
    &__cont{
        display: flex;
        margin-top: 2.5rem;
        flex-direction: row; 
    }
    p {
        font-size: 1.5rem;
        text-align: justify;
        margin: 1.25rem; 
    }
    img {
        width: 500px;
        height: 300px;
    }
    &__cont--dif {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        height: 100%; 
    }
}

@media (min-width: 320px) and (max-width: 820px) {
    .sobrenos {
        justify-content: center;
        margin: 1rem; 
    }
    .sobrenos h3 {
        text-align: center;
        border-bottom: 2px solid black;
        padding: 0.5rem; 
    }
    .sobrenos__cont {
        flex-direction: column; 
    }
    .sobrenos p {
        font-size: 1.5rem;
        text-align: justify;
        margin: 0.2rem;
        padding: 1rem; 
    }
    .sobrenos img {
        width: 100%;
        height: 100%; 
    }
    .sobrenos__cont--dif {
        display: flex;
        flex-direction: column-reverse;
        text-align: justify;
        margin-top: 1.2rem; 
    } 
}

.tienda{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'lato', sans-serif;
    &__cont {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 9rem;
        margin-right: 9rem;
        margin-top: 9rem; 
    }
}

.tiendacont__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    h2 {
        font-size: 2.5rem;
        font-weight: bold; 
    }
    span {
        font-size: 2.5rem;
        color: $color_prin;
        margin-top: 10px; 
    }
    p {
        font-size: 1rem;
        margin-top: 3.5rem;
        width: 50vw; 
    }
}

.tiendacont__infobtn {
    margin-top: 5rem;
}

.tiendacont__infobtn input {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.tiendacont__infobtn button {
    padding: 1rem;
    color: $color_prin;
    background-color: $color_letraclara;
    border: 3px solid $color_prin;
    cursor: pointer;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.tienda__cont img {
    width: 600px;
    height: 400px;
    padding: 1rem;
}

@media (min-width: 320px) and (max-width: 540px) {
    .tienda__cont {
        flex-direction: column;
        margin: 0; 
    }
    .tiendacont__info {
        margin-left: 0;
        margin: 1.2rem; 
    }
    .tiendacont__info h2 {
        font-size: 2.5rem;
        font-weight: bold; 
    }
    .tiendacont__info p {
        font-size: 1.2rem;
        margin-top: 1.5rem;
        width: 100%; 
    }
    .tienda__cont img {
        margin-top: 1.5rem;
        width: 90%;
        height: 100%; 
    }
    .tiendacont__infobtn button {
        padding: 1rem; 
    }
    .tiendacont__infobtn input {
        width: 3rem;
        margin-right: 1rem;
        margin-left: 8px;
        height: 3rem; 
    } 
}
  
@media (min-width: 541px) and (max-width: 820px) {
    .tienda__cont {
        flex-direction: column;
        margin: 0;
        align-items: center;
        width: 90vw; 
    }
    .tiendacont__info {
        justify-content: center; 
    }
    .tiendacont__info h2 {
        font-size: 2.5rem;
        font-weight: bold; 
    }
    .tiendacont__info p {
        font-size: 1.2rem;
        margin-top: 1.5rem;
        width: 100%; 
    }
    .tienda__cont img {
        margin-top: 2rem;
        width: 90vw; 
    }
    .tiendacont__infobtn input {
        width: 3rem;
        margin-right: 1rem;
        margin-left: 8px;
        height: 3rem; 
    } 
}
  
@media (min-width: 821px) and (max-width: 1280px) {
    .tiendacont__infobtn input {
        width: 3rem;
        margin-right: 1rem;
        height: 3rem; 
    }
    .tiendacont__info p {
        width: 35vw; 
    } 
}
 
.productosrel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'lato', sans-serif;
    margin-top: 6rem;
    h3 {
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
        margin-top: 3rem;
        border-top: 2px solid #8b001a;
        width: 85%;
    }
    &__cont {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center; 
    }
    &__contproducto{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.25rem;
        h4 {
            margin-bottom: 1rem; 
        }
    }
}

.productosrel__contproducto img {
    width: 20vw;
    height: 35vh;
    border-radius: 12px; 
}
  
@media (min-width: 320px) and (max-width: 540px) {
    .productosrel {
        text-align: center; 
    }
    .productosrel__contproducto img {
        width: 85vw;
        height: 30vh;
        border-radius: 12px; 
    }
    .onresponsiveuno {
        display: none; 
    }
    .onresponsivedos {
        display: none; 
    } 
}
  
@media (min-width: 541px) and (max-width: 820px) {
    .productosrel {
        text-align: center; 
    }
    .productosrel__contproducto img {
        width: 40vw;
        height: 30vh;
        border-radius: 12px; 
    }
    .onresponsivedos {
        display: none; 
    } 
}
  
@media (min-width: 821px) and (max-width: 1280px) {
    .productosrel__contproducto {
        margin: 1.8rem; 
    }
    .productosrel__contproducto img {
        width: 35vw;
        height: 40vh; 
    }
    .onresponsivedos {
        display: none; 
    } 
}
  